// h1 {
//  font-size: 36px;
// }
@import "./scss/simple-grid.css";

.main-title {
    display: inline-block;
    letter-spacing: 4.5px;
    position: relative;
    &.mod-with-edit-btn {
        &:after {
            cursor: pointer;
            content: url("./images/icons/edit.svg");
            position: absolute;
            right: -35px;
            top: 0;
        }
    }
}

.box {
    width: 100%;
    height: 100px;
    background: red;
}

.films-list.mod-rows {
    .share-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 14px;
        color: #0088cc;
        letter-spacing: 1.8px;
        text-decoration: none;
        &:after {
            content: url("./images/icons/share.svg");
            position: absolute;
            right: -100%;
            top: 0;
        }
    }
    .film-item--poster {
        width: 225px;
        display: inline-block;
        vertical-align: top;
        img {
            max-width: 100%;
        }
    }
    .film-item--info {
        width: calc(100% - 255px);
        display: inline-block;
        vertical-align: top;
        margin-left: 25px;
        & > * {
            width: 100%;
            max-width: 600px;
        }
    }
    .film-item {
        position: relative;
        padding: 30px 0;
        border-bottom: 1px solid #e6e6e6;
        &:hover:after {
            content: url("./images/icons/Trash.svg");
            position: absolute;
            right: 0;
            top: 30px;
        }
    }
    .film-item--title {
        font-size: 24px;
        letter-spacing: 5.3px;
        color: #303234;
        margin-bottom: 20px;
        font-weight: 600;
        a {
            text-decoration: none;
            &:hover {
                color: #0088cc;
                text-decoration: underline;
            }
        }
    }
    .film-item--info-row {
        margin-bottom: 25px;
        .info-row--item {
            display: inline-block;
            font-size: 16px;
            letter-spacing: 2px;
            color: #303234;
            & + .info-row--item {
                margin-left: 30px;
            }
            &.mod-grey-text {
                color: #9b9b9b;
            }
        }
    }
    .film-info--def {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 2px;
        .def--name {
            font-weight: 600;
            display: inline-block;
            color: #000000;
        }
        .def-descr {
            display: inline-block;
            color: #747e80;
        }
    }
    .film-info--descr {
        margin-top: 25px;
        font-size: 14px;
        line-height: 2.29;
        color: #000000;
        letter-spacing: 1.8px;
    }
}

.mod-tile {
    .share-btn {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(0, -50%);
        font-size: 14px;
        color: #0088cc;
        letter-spacing: 1.8px;
        text-decoration: none;
        &:after {
            content: url("./images/icons/share.svg");
            position: absolute;
            right: -100%;
            top: 0;
        }
    }
    .hide-on-tile {
        display: none !important;
    }
    .film-item {
        width: 21%;
        float: left;
        margin: 0.5rem 2%;
        min-height: 0.125rem;
        img {
            max-width: 100%;
        }
    }
    .film-item--title {
        font-size: 14px;
        font-weight: 600;
        a {
            text-decoration: none;
            &:hover {
                color: #0088cc;
                text-decoration: underline;
            }
        }
    }
    .film-year {
        display: none;
    }
    .film-item--info-row {
        .info-row--item {
            display: inline-block;
            font-size: 16px;
            line-height: 1.5;
            &.mod-grey-text {
                color: #9b9b9b;
            }
            &:last-child {
                float: right;
            }
        }
    }
    .film-info--def,
    .film-info--descr {
        display: none;
    }
}

.films-detail-view {
    .header {
        padding-top: 75px;
        padding-bottom: 40px;
    }
    .film-item--title {
        font-size: 36px;
        letter-spacing: 7.9px;
        color: #303234;
        position: relative;
        a {
            text-decoration: none;
        }
    }
    .film-year {
        margin-left: 40px;
    }
    .film-imbd {
        padding-top: 10px;
        font-size: 36px;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 24px;
        text-align: center;
    }
    .film-item--info-row {
        font-size: 16px;
        display: inline-block;
        color: #9b9b9b;
    }
    .info-row--item {
        display: inline-block;
        color: #9b9b9b;
        & + .info-row--item {
            margin-left: 30px;
        }
    }
    .film-item--poster {
        width: 225px;
        height: 310px;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        img {
            max-width: 100%;
        }
    }
    .film-trailer {
        margin-left: 10px;
        width: calc(100% - 240px);
        display: inline-block;
        vertical-align: top;
        iframe {
            max-width: 100%;
            width: 100%;
            height: 310px;
        }
    }
    .film-info--def {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 2px;
        .def--name {
            display: inline-block;
            font-weight: 600;
        }
        .def-descr {
            display: inline-block;
            color: #747e80;
        }
    }
    .film-info--descr {
        font-size: 14px;
        line-height: 2.29;
        letter-spacing: 1.8px;
        color: #000;
    }
}

.footer {
    padding: 100px 0 65px;
    text-align: center;
    .social-links {
        margin-bottom: 40px;
        .btn-icon {
            vertical-align: middle;
            & + .btn-icon {
                margin-left: 30px;
            }
            &:before {
                vertical-align: middle;
            }
        }
    }
    .copyright {
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.3px;
        color: #bebebe;
        vertical-align: middle;
    }
    .about-link {
        text-transform: uppercase;
        text-decoration: none;
        margin-left: 50px;
        letter-spacing: 2.4px;
        font-size: 10px;
        line-height: 18px;
    }
}

.f-z-24 {
    font-size: 24px;
}

.mod-grey-text {
    color: #9b9b9b;
}

.m-bottom-25 {
    margin-bottom: 25px;
}

.m-left-50 {
    margin-left: 50px;
}

.push-right {
    float: right;
}

.btn-icon {
    & + .btn-icon {
        margin-left: 24px;
    }
}

.icon-tile {
    &:before {
        content: url("./images/icons/gride.svg");
    }
}

.icon-rows {
    &:before {
        content: url("./images/icons/List.svg");
    }
}

.back-btn {
    position: relative;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 2px;
    color: #000000;
    &:before {
        content: "";
        border-width: 7px;
        border-color: transparent black transparent transparent;
        border-style: solid;
        position: absolute;
        left: -20px;
        top: 3px;
    }
}

.delete-btn {
    &:before {
        content: url(./images/icons/Trash.svg);
    }
}

.icon-fb {
    &:before {
        content: url(./images/icons/facebook-2.svg);
    }
}

.icon-tw {
    &:before {
        content: url(./images/icons/twitter-1.svg);
    }
}

.icon-tl {
    &:before {
        content: url(./images/icons/linkedin-1.svg);
    }
}
